Repository gardener/machine-controller-manager-provider-gcp, pull requests merged in 2023-06, with the labels that each got.

#84 CMEK support changes
  docs/development/testing/cmek.md
  kubernetes/machine-class.yaml
  pkg/api/v1alpha1/provider_spec.go
  pkg/gcp/machine_controller_test.go
  pkg/gcp/machine_controller_util.go
  pkg/gcp/validation/validation.go
Labels: needs/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/m

#85 CMEK shoot cluster manual test documentation
  docs/development/testing/cmek.md
Labels: reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/m

#86 Add `make` rule for updating `provider-spec.md`
  Makefile
  docs/docs/provider-spec.md
  hack/api-reference/generate-spec-doc.sh
Labels: reviewed/ok-to-test, reviewed/lgtm, size/m

#87 Upgrade golang version to 1.20.5
  .ci/pipeline_definitions
  Dockerfile
Labels: reviewed/ok-to-test, reviewed/lgtm, size/xs

#88 fixed example for encryption in cmek.md
  docs/development/testing/cmek.md
Labels: reviewed/ok-to-test, needs/ok-to-test, reviewed/lgtm, size/xs

#89 Add image reference for `create-upgrade-prs` cronjob
  .ci/pipeline_definitions
  .ci/set_dependency_version
Labels: needs/ok-to-test, needs/review, size/xs
